<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D2XXHelper" version="0.3.1" targetFramework="net472" />
  <package id="FTD2XX_NET" version="1.0.14" targetFramework="net472" />
  <package id="FTD2XXHelper" version="1.2.2" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.3.0-alpha-net7.4" targetFramework="net472" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net472" />
</packages>